 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Yantramanav,sans-serif;
}
html {
    background-color:black;
}
/*
Header
*/
header {
    position: relative;
    left: 20%;
    background-color: #363535;
    text-align: center;
    vertical-align: middle;
    width: 100%;  
    height: 70px;
    
}
#image-title{
    color: #ef476f;
    font-size: 20px;
    display: inline-block;
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.nav-button {
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    padding: 0px;    
    margin: 0px;
    left: 85%;
    height: 100px;
}

#previous {
    left: 74%;
}
#next {
    left: 79%;
}

/*
Toolbar
*/

#toolbar {
    position: absolute;
    text-align: center;
    top: 0px;
    padding: 0px;
    height: 100%;
    width: 20%;
    background-color: #363535;
}

.title {
    background-color: #03aa8c;
    border-top-right-radius: 0px;
}
.title > h3{
    font-size: 34px;
    padding: 50px;
    margin-bottom: 25px;
}
.StackSpan {
    color: #03aa8c;
    font-size: 23px;
}

#undo {
    position: relative;
    left: -20%;
}

#redo {
    position: relative;
    left: 20%;
}

#labels {
    margin-top: 60px;
    height: 550px;
    overflow: hidden;
    overflow-y: scroll;
}

.label{
    margin: 20px;
    padding: 10px;
    list-style: none;
    background-color: rebeccapurple;
    border-radius: 30px;
}

#ExportDataset{
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: #03aa8c;
    border-color:rgba(0,0,0,0.0);;
    width: 100%;
    height: 60px;
    font-size: 20px;
}

/*
Canvas
*/

#canvas {
    position: absolute;
    background-color: red;
    left: 20%;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}