*{ 
	margin: 0px;
	padding: 0px;
	color: white;
}

#sidebar {
	/*Strictly Necessary */
	position:fixed; 
	height: 100%;
	width:20%;
	margin: 0px;  

  /*Aesthetics*/
  background: #363535; 
}


#rightSideWrapper {
	/*Strictly Necessary */
	width:80%; 
	float: right;

	/*Aesthetics*/
	background: black;	
}

#rightSideWrapper > header > h2 {
	float: left;
	display: block;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	/*Strictly Necessary */
	position: fixed;
	width: 80%;	
	height: 70px; /*Adjust the hight to your purposes*/
	
	/*Aesthetics*/
	background: pink;
}

.ContentBox{
	margin-top: 70px; /*The height of the   header*/
	display:flex;
	flex-flow: row wrap;
} 

canvas {
	/*Aesthetics*/
	 background: red; 
	 height: 600px;

	  /*Strictly Necessary */
	  order: 1;
	  flex: 0 1 100%; 
}



.move-button {
	
}

#next-button {
}
#previous-button{
}

.arrows{
	position: fixed;
	right: 0px;
	float: right;
}