<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title> BoxedIN </title>
		<link rel="Stylesheet" href="../static/css/app.css">
		<link href="https://fonts.googleapis.com/css?family=Yantramanav:700" rel="stylesheet">
		<link rel='shortcut icon' type='image/x-icon' href='../static/assets/web-icon.ico' />
	</head>
  
	<body>
		<div id="sidebar">
			<div id="sidebar-title">
				<h3>BoxedIN</h3>
			</div>
			<button class="action-button" id="undo-button" type="button">Undo</button>
            <button class="action-button" id="redo-button" type="button">Redo</button>
			<br></br>
			<label class="switch">
				<input id="tool-toggle"type="checkbox"></input>				
				<span class="slider round"></span>
			</label>
			<p id="toggleLabel">Drawing</p>

            <ul id=labels-list>
			</ul>
            <button id="export-button" type="submit">Export SFrame</button>
		</div>
		<div id="rightSideWrapper">
			<header> 
				<h2 id="image-title"></h2>
				<div class = "arrows">
					<input class="move-button" id="previous-button" type="image" src="../static/assets/Back.png"/>
					<input class="move-button" id="next-button" type="image" src="../static/assets/Forward.png"/>
				</div>
			</header>
			
			<div class="ContentBox">
				<div id="container">
					<form>
						<input id= "file" type="file" webkitdirectory mozdirectory />
						<button id="upload" type="submit">Upload</button>
					</form>
					
				</div>
			</div>	
		
		</div>
		<script src="../static/scripts/jquery-3.3.1.min.js"></script>
		<script src="../static/scripts/konva.min.js"></script>
		<script src="../static/scripts/load-image.all.min.js"></script>
		<script type="module" src="../static/scripts/canvas.js" charset="utf-8"></script>
		<script type="module" src="../static/scripts/app.js" charset="utf-8"></script>
	</body>
	
</html>

