<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> BoxedIN </title>
		<link rel="Stylesheet" href="css/app.css">
		<link href="https://fonts.googleapis.com/css?family=Yantramanav:700" rel="stylesheet">
	</head>
  
	<body>
		<div id="sidebar">
			<div id="sidebar-title">
				<h3>BoxedIN</h3>
			</div>
			<button class="action-button" id="undo-button" type="button">Undo</button>
            <button class="action-button" id="redo-button" type="button">Redo</button>
            <br></br>
            <input id="tool-toggle"type="checkbox"></input>
            <ul id=labels-list>
				<!-- <li class="label">
					<input value ="test" class="label-input"></input>
					<input id="trash-button" type="image" src="https://findicons.com/files/icons/1580/devine_icons_part_2/128/trash_recyclebin_empty_closed.png"/>
				</li> -->
            </ul>
            <button id="export-button" type="button">Export Dataset</button>
		</div>
		<div id="rightSideWrapper">
			<header> 
				<h2 id="image-title">Image Name (num/total)</h2>
				<div class = "arrows">
					<input class="move-button" id="next-button" type="image" src="assets/Back.png"/>
					<input class="move-button" id="previous-button" type="image" src="assets/Forward.png"/>
				</div>
			</header>
			
			<div class="ContentBox">
				<div id="container"></div>
			</div>	
		
		</div>
		<script src="https://unpkg.com/konva@3.2.3/konva.min.js"></script>
		<script type="module" src="canvas.js" charset="utf-8"></script>
		<script type="module" src="app.js" charset="utf-8"></script>
	</body>
	
</html>

